name: Build server

on: [ push, pull_request ]

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest ]

    steps:
      - uses: actions/checkout@v3

      - name: Enable Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1.10.0

      - name: Get latest CMake and ninja
        uses: lukka/get-cmake@latest

      - name: Configure
        run: cmake -GNinja -DCMAKE_BUILD_TYPE=Release -DRORSERVER_WITH_ANGELSCRIPT=ON .

      - name: Build
        run: ninja

      - name: Upload bin folder
        uses: actions/upload-artifact@v2
        with:
          name: ror-server-${{ matrix.os }}
          path: bin
